# Google Sheets integration
NEXT_PUBLIC_SHEETID=your_google_spreadsheet_id_here
NEXT_PUBLIC_GID=your_sheet_name_or_gid_here
NEXT_PUBLIC_GOOGLE_SCRIPT_WEBAPP_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec
